* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.video-contenedor{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#video-fondo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;

}
.Titulo-fijo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
    z-index: 1;
}
.Titulo-fijo h1{
    font-size: 40px;
    margin: 0;
}
.Titulo-fijo p{
    font-size: 20px;
    margin: 10px 0 0 0;
}

.Contenido-bajo-el-video p{
    text-align: center;
    font-size: 50px ;
    color: gray;
    margin-top: 50px;
}

.GaleriaDeProductos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px ;
    justify-content: space-around;
}

#productos {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px; 
}


.GaleriaCarrusel{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: none;
    padding: 20px;
    scroll-behavior: auto
    
}

.GaleriaDeProductos .productoL {

    width: 300px;

}

.GaleriaCarrusel::-webkit-scrollbar {
    display: none;
}

.GaleriaDeProductos img {
    height: auto;
    border-radius: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.GaleriaDeProductos img:hover{
    transform: scale(1.05);
}

.productoL p{
    text-align: center;
    font-size: 50px;
}

.productoL{
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 300px;
    text-align: center;
    color: #ccc;
    font-family: sans-serif;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.productoL img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-bottom: 5px ;
}

.productoL img:hover {
    transform: scale(1.05); 
}

.productoL h3{
    margin: 10px 0 5px;
    font-size: 15px ;
}

.productoL p{
    margin: 0;
    font-size: 18px;
    color: #ccc;
    border-radius: 30px;
}

.LineaDivisora{
    margin-top: 100px;
    height: 2px;
    background-color: #ccc;
    width: 80%;
    text-align: center;
    margin: 40px auto;

}

.tituloSeeccionHombres p{
    margin-top: 5px;
    font-size: 10px;
    color: gray;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;

}

.productoHombres{
    width: 300px;
    text-align: center;
    color: #ccc;
    font-family: sans-serif;
    margin: 10px auto;
}

.productoHombres img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-bottom: 5px ;
}

.productoHombres img:hover{
    transform: scale(1.05);
}
.tituloSeeccionHombres p{
    margin-top: 50px;
}

.productoHombres p{
    margin: 0;
    font-size: 18px;
    color: #ccc;
    border-radius: 30px;
}

.botones-carrusel {
    
    display: flex;
    
    
}


.botonC {
    display: flex;
    margin:auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #ccc;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonC:hover {
    background-color: #aaa;
}